.board__row{
    display: flex;
}
.board__square{
    background: rgb(65,99,153);
    background: -moz-radial-gradient(circle, rgba(65,99,153,1) 0%, rgba(50,73,142,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(65,99,153,1) 0%, rgba(50,73,142,1) 100%);
    background: radial-gradient(circle, rgba(65,99,153,1) 0%, rgba(50,73,142,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#416399",endColorstr="#32498e",GradientType=1);
    height: 100px;
    width: 100px;
    padding: .5rem;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #c49926;
}


.board__square img{
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.board__row:nth-child(even) .board__square:nth-child(odd), .board__row:nth-child(odd) .board__square:nth-child(even)
{
    background: rgb(255,255,255);
    background: -moz-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#c8c8c8",GradientType=1);
}

.board__row:first-child .board__square{
    border-top: 5px solid #9a781b;
}

.board__square:first-child{
    border-left: 5px solid #c49926;
}

.board__square:last-child{
    border-right: 5px solid #c49926;
}

.board__row:last-child .board__square{
    border-bottom: 5px solid #c49926;
}


.board__move-indicator{
    height: 50px;
    width: 50px;
    opacity: .5;
    position: absolute;
    background: #242424;
    border: white solid 4px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}